@{
    ViewData["Title"] = "Customers";
}
@model MyViewModel
<nav>
    <div class="nav-container">
        <div>
            <h3 class="title-name">Simpli<span class="CRM">CRM</span></h3>
        </div>
        <div class="login-container">
            <form asp-action="Logout" asp-controller="Home" method="post">
                <button class="login-button">Logout</button>
            </form>
        </div>
    </div>
</nav>
<main class="dash-container">
    <div class="dash-left">
        <div class="left-title">
            <p class="m-0 p-0 h4">Welcome @if(@Context.Session.GetInt32("OwnerId") != null){@Model.Owner.FirstName}else{@Model.Employee.FirstName}!</p>
            @if(@Context.Session.GetInt32("OwnerId") != null){<p class="m-0 p-0">Owner</p>} else {<p class="m-0 p-0">@if(Model.Employee.Role == "CSR"){<p class="m-0 p-0">Customer Service</p>}else if(Model.Employee.Role == "Sales"){<p class="m-0 p-0">Sales</p>}else if(Model.Employee.Role == "HR"){<p class="m-0 p-0">Human Resources</p>}</p>}
            <p class="m-0 p-0">@DateTime.Now.ToLongDateString()</p>
            <p class="m-0 p-0">@DateTime.Now.ToShortTimeString()</p>
        </div>
        <a asp-action="Dashboard" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Dashboard</p>
            </div>
        </a>
        <a asp-action="Customers" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Customers</p>
            </div>
        </a>
        <a asp-action="Sales" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Sales</p>
            </div>
        </a>
        <a asp-action="Team" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Team</p>
            </div>
        </a>
    </div>
    <div class="config-main">
        <div>
            <div class="d-flex justify-content-center align-items-center">
                <div style="flex: 1;"></div>
                <div style="flex: 1; text-align: center;"><h2 class="text-light">Customers</h2></div>
                <div style="flex: 1; text-align: right;">
                        <a asp-action="NewCustomer" asp-controller="Home" asp-route-name="@Model.Business.Name" class="px-5">Add Customer +</a>
                </div>
            </div>
            <div style="width: 100%; height: 2px; background-color: white;"></div>
        </div>
        <div>
            <table class="table table-dark table-hover">
                <thead class="text-center">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    @foreach (Customer customer in Model.AllCustomers)
                    {
                            <tr class="text-center">
                                <td>@customer.FirstName</td>
                                <td>@customer.LastName</td>
                                <td>@customer.Email</td>
                                <td>@customer.PhoneNumber</td>
                                <td><a asp-action="ShowCustomer" asp-controller="Home" asp-route-name="@Model.Business.Name" asp-route-id="@customer.CustomerId">View</a></td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>
