@{
    ViewData["Title"] = "Team";
}
@model MyViewModel
<nav>
    <div class="nav-container">
        <div>
            <h3 class="title-name">Simpli<span class="CRM">CRM</span></h3>
        </div>
        <div class="login-container">
            <form asp-action="Logout" asp-controller="Home" method="post">
                <button class="login-button">Logout</button>
            </form>
        </div>
    </div>
</nav>
<main class="dash-container">
    <div class="dash-left">
        <div class="left-title">
            <p class="m-0 p-0 h4">Welcome @if(@Context.Session.GetInt32("OwnerId") != null){@Model.Owner.FirstName}!</p>
            @if(@Context.Session.GetInt32("OwnerId") != null){<p class="m-0 p-0">Owner</p>} else {<p class="m-0 p-0">Employee</p>}
            <p class="m-0 p-0">@DateTime.Now.ToLongDateString()</p>
            <p class="m-0 p-0">@DateTime.Now.ToShortTimeString()</p>
        </div>
        <a asp-action="Dashboard" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Dashboard</p>
            </div>
        </a>
        <a asp-action="Dashboard" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Customers</p>
            </div>
        </a>
        <a asp-action="Sales" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Sales</p>
            </div>
        </a>
        <a asp-action="Team" asp-controller="Home" asp-route-name="@Model.Business.Name">
            <div class="nav-option">
                <p class="m-0 p-0">Team</p>
            </div>
        </a>
    </div>
    <div class="config-main">
        <div>
            <div class="d-flex justify-content-center align-items-center">
                <div style="flex: 1;"></div>
                <div style="flex: 1; text-align: center;"><h2 class="text-light">@Model.Customer.FirstName @Model.Customer.LastName</h2></div>
                <div style="flex: 1; text-align: right;"></div>
            </div>
            <div style="width: 100%; height: 2px; background-color: white;"></div>
        </div>
        <div class="d-flex justify-content-center flex-column align-items-center mt-5">
            @await Html.PartialAsync("_EditCustomer", @Model.Customer)
            <div>
            <form asp-action="DestroyCustomer" asp-controller="Home" asp-route-name="@Model.Business.Name" asp-route-id="@Model.Customer.CustomerId" method="post" class="mt-3">
                <button class="btn btn-danger" style="width: 2.8em; fill: white;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7C140.6 6.8 151.7 0 163.8 0H284.2c12.1 0 23.2 6.8 28.6 17.7L320 32h96c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 96 0 81.7 0 64S14.3 32 32 32h96l7.2-14.3zM32 128H416V448c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V128zm96 64c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16V432c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16z"/></svg></button>
            </form>
            </div>
        </div>
    </div>
</main>
